<h1>Access#login</h1>
<p>Find me in app/views/access/login.html.erb</p>

<%= form_tag(access_attempt_login_path) do %>
  <%= label_tag(:email) %>
  <%= text_field_tag(:email, params[:email]) %>
  <%= label_tag(:password) %>
  <%= password_field_tag(:password, params[:password])%>

  <%= submit_tag("Log in") %>
<% end %>
