<h1>Access#menu</h1>
<p>Find me in app/views/access/menu.html.erb</p>

<%= link_to('Manage Admin Users', admin_users_path) if admin_user %>
<%= link_to('Subjects', subjects_path) %>
<%= link_to('Logout', access_logout_path) %>
