<% if object && object.errors.size > 0 %>
  <div id="error-explanation" class="alert alert-warning">
    <h2> <%= pluralize(object.errors.size, 'error') %> prohibited this from succeeding </h2>
    <p> Please see the following issues: </p>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>
