<% unless flash[:notice].blank? %>
<div class="alert alert-success">
  <%= flash[:notice] %>
</div>
<% end %>

<% unless flash[:errors].blank? %>
<div class="alert alert-warning">
  <%= flash[:errors] %>
</div>
<% end %>
