<%= link_to('<< Back to Subject', subject_path(@page.subject_id)) %>

<h1> Sections for <%= @page.name %> </h1>
<div class="col-md-3"><%=link_to('Add Section', new_page_section_path(:page_id => @page.id))%></div>
<hr/>
<% @sections.each do |s| %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label>Name:</label>
      <%= s.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Position:</label>
      <%= s.position %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

      <label>Visible:</label>
      <%= s.visible.to_s.capitalize %>
    </div>
    <div class="col-md-3">
      <label>Created:
      </label>
      <%= s.created_at.to_formatted_s(:long_ordinal) %>
    </div>
    <div class="col-md-3">
      <label>Updated:
      </label>
      <%= s.updated_at.to_formatted_s(:long_ordinal) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><label>Actions:</label></div>
    <div class="col-md-3"><%=button_to('Delete section', {:controller => :sections, :action => :destroy, :id => s.id}, {:method => :delete, :onclick => "return confirm('Are you sure?')" } )%></div>
  </div>
</div>

<hr/>


<% end %>
