<h1> Create a new Section for <%=@page.name%></h1>

<%= form_for(@section, :url => page_sections_path) do |f| %>
  <div class="form-group">
    <%= f.label(:name) %>
    <%= f.text_field(:name, :class=> "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:content_type) %>
    <%= f.text_field(:content_type, :class=> "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:content) %>
    <%= f.text_area(:content, :class=> "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:position) %>
    <%= f.number_field(:position, :min => 0, :class=> "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:visible) %>
    <%= f.check_box(:visible, :class=> "form-control") %>
  </div>

<!-- Position, Visible, Content Type, Content  -->

  <div class="form-group">
    <%= f.submit('Create Section', {:class=>"btn btn-primary"}) %>
  </div>
<% end %>

<div class="form-group">
  <%= button_tag('Randomize!', :type => :button, :class=>"btn btn-primary", :onClick=>'randomize_section()') %>
</div>
