<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label>Name:</label>
      <%= page.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Position:</label>
      <%= page.position %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

      <label>Visible:</label>
      <%= page.visible.to_s.capitalize %>
    </div>
    <div class="col-md-3">
      <label>Created:
      </label>
      <%= page.subject.created_at.to_formatted_s(:long_ordinal) %>
    </div>
    <div class="col-md-3">
      <label>Updated:
      </label>
      <%= page.updated_at.to_formatted_s(:long_ordinal) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><label>Actions:</label></div>
    <div class="col-md-3"><%=button_to('Delete Page', {:controller => :pages, :action => :destroy, :subject_id => page.subject_id, :id => page.id}, {:method => :delete, :onclick => "return confirm('Are you sure?')" } )%></div>
    <div class="col-md-3"><%=link_to('Add Section', new_page_section_path(:page_id => page.id))%></div>
    <div class="col-md-3"><%= show_sections(page) %></div>
  </div>
</div>
<hr/>
