<%= link_to('<< Back to Subjects', subjects_path) %>
<h1> New Page for <%= @subject.name %> </h1>
<hr/>

<table>
<%= form_for(@page, :url => subject_pages_path(@subject)) do |f| %>
<tr>
  <td><label>Name</label> </td>
  <td><%= f.text_field(:name, :size => 100)%> </td>
</tr>
<tr>
  <td><label>Position</label> </td>
  <td><%= f.number_field(:position, :min => 1)%> </td>
</tr>
<tr>
  <td><label>Visible</label> </td>
  <td><%= f.check_box(:visible)%> </td>
</tr>
<tr>
  <td><label>Permalink</label> </td>
  <td><%= f.label(:permalink, :value => rand(10000..99999), :disabled => true)%> </td>
</tr>
<tr>
  <td> <%= f.submit %> </td>
  <% end %>
  <td> <%= button_to('Cancel', {:controller => :subjects, :action => :index}, {:method => :get}) %> </td>
</tr>
<tr>
  <td> <%= button_tag('Randomize!', :type=> :button, :onClick => 'randomize_page()' )%> </td>
</tr>
</table>
