<h1> Are you sure? </h1>
<% unless flash[:errors].blank? %>
<h2><%=flash[:errors].inspect %></h2>
<% end %>
<%= form_for(@subject, :url => subject_path(@subject), :method => :delete) do |f|%>
  <table>
    <tr>
      <td><strong><%= f.label(:name) %></strong></td>
      <td><%= f.object.name %></td>
    </tr>
    <tr>
      <td><strong><%= f.label(:position) %></strong></td>
      <td><%= f.object.position %></td>
    </tr>
    <tr>
      <td><strong><%= f.label(:visible) %></strong></td>
      <td><%= f.object.visible %></td>
    </tr>
    <tr>
      <td><%= f.submit('Yes') %></td>
      <% end %>

      <!-- Cancel button needs to be outside of the submit form, so it doesn't
            bind to the wrong controller action  -->
      <td><%= button_to('No', {:action => :index}, {:method => :get}) %> </td>
    </tr>
  </table>
