<h1> Edit Subject </h1>

<table summary="Subject form fields">
  <%= form_for(@subject) do |f| %>

  <tr>
    <td><label>Name</label> </td>
    <td><%= f.text_field(:name)%> </td>
  </tr>

  <tr>
    <td><label>Position</label> </td>
    <td><%= f.text_field(:position)%> </td>
  </tr>

  <tr>
    <td><label>Visible</label>
    <td><%= f.select(:visible, [true, false])%> </td>
  </tr>

  <tr>
    <td> <%= f.submit('Update subject') %> </td>
  </tr>

  <% end %>
</table>
