<h1> Displaying Subject </h1>
<%= link_to('Add New Subject', new_subject_path) %>
<hr>

<table border='1'>
  <tr>
    <th>#</th>
    <th>Subject</th>
    <th>Visible</th>
    <th>Pages</th>
    <th>Actions</th>
  </tr>
  <% @subjects.each do |subject| %>
  <tr>
    <td> <%= subject.position %> </td>
    <td> <%= subject.name %> </td>
    <td> <%= status_tag(subject.visible?) %></td>
    <td> <%= subject.pages.count %> </td>
    <td>
      <%=link_to('Show', subject_path(subject)) %>
      <%=link_to('Edit', edit_subject_path(subject)) %>
      <%=link_to('Delete', delete_subject_path(subject)) %>
      <%=link_to('Add Pages', new_subject_page_path(subject) ) %>
    </td>
  </tr>
  <% end %>
</table>

<hr/>

Test button
<%= button_tag 'I am a button', :type => :button, :onClick => 'subject_index_js_function()' %>
