<%= link_to('<< Back to Subjects', subjects_path) %>
<h1> New Subject </h1>

<td> <%= button_tag('Randomize!', :type=> :button, :onClick => 'randomize_subject()' ) %> </td>
<table summary="Subject form fields">
  <%= form_for(@subject) do |f| %>
  <%= error_messages_for(f.object) %>

  <tr>
    <td><label>Name</label> </td>
    <td><%= f.text_field(:name, :size => 100)%> </td>
  </tr>

  <tr>
    <td><label>Position</label> </td>
    <td><%= f.number_field(:position, :min => 0)%> </td>
  </tr>

  <tr>
    <td><label>Visible</label>
    <td><%= f.select(:visible, [true, false])%> </td>
  </tr>

  <tr>
    <td> <%= f.submit('Create new subject') %> </td>
    <% end %>
    <td> <%= button_to('Cancel', {:action => :index}, {:method => :get}) %> </td>
  </tr>
</table>
