<br/>
<%= link_to('<< Back to List', subjects_path) %>
<hr/>
<h1> Subject Info </h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label>Subject:</label>
      <%= @subject.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Position:</label>
      <%= @subject.position %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

      <label>Visible:</label>
      <%= @subject.visible %>
    </div>
    <div class="col-md-3">
      <label>Created:
      </label>
      <%= @subject.created_at.to_formatted_s(:long_ordinal) %>
    </div>
    <div class="col-md-3">
      <label>Updated:
      </label>
      <%= @subject.updated_at.to_formatted_s(:long_ordinal) %>
    </div>
  </div>
</div>

<hr/>

<h1> Available Pages </h1>
<%= render partial: 'pages/show', collection: @subject.pages, :as => :page || "No pages to display" %>
