<table class ="table table-sm">
  <thead>
    <!-- First name, DESC and ASC. Check if set, otherwise use default.  -->
    <th> <%=display_last_name_label%> </th>
    <th> First Name </th>

  </thead>

  <%= will_paginate @admin_users %>
  <tbody>
    <% @display_users.each_with_index do |u, i| %>
    <tr>
      <td><%=u.split[0] rescue '' %></td>
      <td><%=u.split[1] rescue '' %></td>
    </tr>
    <% end %>
  </tbody>

</div>
