Hello
<%= link_to('Welcome!', {:action => 'welcome'}) %>

<%= link_to('Welcome with parameters!', {:action => 'welcome', :page => 5, :id => 20}) %>

<br/>
<%= link_to('Click me!', '#', {:onclick=>'testClick("Something?")'}  ) %>
