<!DOCTYPE html>
<html>
  <head>
    <title> Admin Area |  <%= @page_title || '' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='container'>
      <%= render(:partial => 'shared/flash_messages') %>

      <div class='container-fluid' id='main_content' >
        <%= yield %>
      </div>
    </div>

    <%= render(:partial => 'shared/footer') %>

  </body>
</html>
